@import url(https://fonts.googleapis.com/css?family=Cutive);

body {
	background-color:#FAFAFA;
	margin:0px;
	padding:0px;
	font-family: 'Cutive', serif;
}
.wrapper {
	width: 900px;
	height: auto;
	margin: 0px auto;
}
.badging_company_folder {
	position: relative;
	width:900px;
	height:250px;
	background-image: url("../img/header/folder.png");
	background-repeat: no-repeat;
	background-position: left top;
	overflow: hidden;
}
.badging_company_folder .company_name {
	position: absolute;
	width:260px;
	height:29px;
	font-size: 20px;
	padding-top:15px;
	padding-left: 10px;
	top:12px;
	left:73px;
}
.badging_company_folder .company_logo {
	position: absolute;
	width:315px;
	height:174px;
	top:76px;
	left:31px;
}
.badging_company_folder .folder_paperclip {
	position: absolute;
	width:65px;
	height:65px;
	background-image: url("../img/header/paperclip.png");
	background-repeat: no-repeat;
	background-position: left top;
	top:65px;
	left:160px;
}
.badging_company_folder .company_board_member {
	position: absolute;
	width:400px;
	height:168px;
	padding-top:32px;
	padding-left:20px;
	font-size: 22px;
	top:65px;
	left:400px;
}
.badging_company_folder .company_board_member ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.badging_company_folder .company_board_member ul li {
	margin-bottom: 5px;
}